/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

/* Header */
header {
  padding: 20px 0;
}
h1 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  letter-spacing: 3px;
}
/* /Header */
